

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
    background-image: url("images/hobby1.jpg");
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: blanchedalmond;
    
  }
  
  li a:hover {
    background-color: #111;
  }
  h1{
    
        text-align:center;
     
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: yellow;
      ;
      
 
  }
  body{
      background-image: url('images/homepagebackground.jpg');
      background-repeat: no-repeat;
  }
  